*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family:"Lato", sans-serif;
    line-height: 1;
    font-weight: 300;
    color: #555;
}

      /*****************************/
    /*     General Reusable Components    */
  /*****************************/
  :root {
    --dark-green: #2d452f;
    --slight-dark-green: #4c6a4b;
    --light-green:#6B9D4A;
    --ultra-light-green: #cfe2ce;

}

.wrap{
    flex-wrap:nowrap;
}
.br1rem{
    border-radius: 1rem;
}
.country-bread{
    text-align: left;
    width: auto;
    padding:1rem 1rem 1rem 0rem;
}
.heading-primary,.heading-secondary{
    color: var(--light-green);
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}
  .heading-primary{
    font-size: 5.2rem;
    /* text-transform: uppercase; */

    line-height: 1.05;
    color: #dddddd;
    letter-spacing: -0.5px;
    margin-bottom: 3.2rem;
}  
.heading-secondary{
    font-size: 4.4rem;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 9.6rem;
}
.heading-tertiary{
    width: 100%;
    font-size: 3.6rem;
    color: var(--light-green);
    line-height: 1.6;
}
.heading-quaternary{
    font-size: 2.4rem;
    color: var(--light-green);

}
.dark{
    color:  var(--dark-green);
}

.sm-photo{
    width: 240px;
}
.br1{
    border-radius: 1rem;
}
.link{
    color: #f08c00;
    font-weight: 1000;
    transition: .2s ease-in;
    font-size: 2.6rem;
}
.link:hover{
    color: #6B9D4A;
    transition: .2s ease-in;

}

.btn:link, .btn:visited{
    display: inline-block;
    background-color: #fff;
    color: #111111;
    padding: 1.6rem 3.2rem;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;

}
.btn-full:link,
.btn-full:visited{
    background-color: #222222;
    color: #fff;
    border: solid 1px #fff;
    transition:all 0.1s ease-in;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}
.btn-outline:link,
.btn-outline:visited{
    background-color: #fff;
    font-family: 'Rubik', sans-serif;
    border: solid 1px #222222;
    transition:all 0.1s ease-in;
}
.btn-full:hover,
.btn-full:active{
    background-color: var(--light-green);
    color: #fff;
    transition: all 0.3s ease-in;
    /* letter-spacing: 1px; */
    /* font-size: 2.1rem; */
    /* padding: 1.4rem 3.0rem; */
}
.btn-outline:hover,
.btn-outline:active{
    background: var(--dark-green);
    color: #fff;
    border: 1px #fff solid;
    transition:all 0.3s ease-in;
    /* letter-spacing: 1px; */
    /* font-size: 2.1rem; */
    /* padding: 1.2rem 2.8rem; */
}
.margin-bottom-md{
    margin-bottom: 4.8rem !important;
}

/* Typography */
.country-bread{
    font-size: 2rem;
}
.step-number{
    color: var(--ultra-light-green);
    font-size: 8.6rem;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    text-align: left;
    width: 100%;
    margin-bottom: 3rem;
}
.step-description{
    font-size: 2rem;
    text-align: justify;
    color: var(--slight-dark-green);
    line-height: 1.6;
}

.flex-center-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-center-sb{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-column{
    flex-direction: column;
}
.container{
    /* 1140px */
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}

.grid{
    display: grid;
    column-gap: 6rem;
    row-gap: 9.6rem;
}
.grid--center-v{
    align-items: center;
}
.grid--2-cols{
    grid-template-columns: repeat(2,1fr);
}
.grid--3-cols{
    grid-template-columns: repeat(3,1fr);
}
.grid--4-cols{
    grid-template-columns: repeat(4,1fr);
}
.section_How {
    background-color: #469DFF;
}
.subheading{
    text-align: center;
    width: 100%;
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
}
.subH{
    color: rgb(255, 166, 0);font-size: 2rem;
    text-align: center;
}
      /*****************************/
    /*          Header           */
  /*****************************/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9.8rem;
    padding: 0 4.8rem;
    background-color: #333333;

}
.logo{
  width: 150px;
}
.logo a{
    color: #cccccc;
    text-decoration: none;
}
      /*****************************/
    /*     Navigation            */
  /*****************************/
nav{
    color: #cccccc;
    float: right;
}
.main-nav-list{
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 3.2rem;
    color: #fff;
    font-size: 1.6rem;
    align-items: center;
    list-style: none;
    user-select: none;
}
.main-nav-list li > a:hover{
    color: #469DFF;
    transition: 0.3s;
}
.main-nav-list li a{
    text-decoration: none;
    color: #fff;
}
      /*****************************/
    /*     Hero Section          */
  /*****************************/
.section-hero{
    background-color: #191919;
    padding:4.8rem 0 4.8rem 0;
}
.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 130rem;
    margin: 0 auto;
    align-items: center;
    gap: 9.6rem;
    margin: 0 auto;
    padding:0 3.2rem;
}
.hero-img{
    width: 100%;
    border-radius: 1rem;
    margin: 0 auto;   
}
.hero-description{
    font-size:2.4rem;
    margin-bottom: 4.8rem;
    color: #999999;
    height: 3rem;
    text-justify: inter-word;
}
.customer1,
.customer2,
.customer3,
.customer4,
.customer5,
.customer6{
    width: 200px;
    height: 200px;
}
.delivered-boxes{
    display: flex;
    margin-top: 8rem;
    align-items: center;
    gap: 1.6rem;
}
.delivered-imgs{
    display: flex;
}
.delivered-imgs img{
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    border: 3px solid orange;
    margin-right: -1.6rem;
}
.delivered-imgs img:last-child{
    margin:0;
}
.delivered-text{
    font-size: 1.8rem;
    font-weight: 600;
    text-shadow: rgb(221, 221, 221);
    color: rgb(138, 138, 138);
}
.delivered-text span{
    color: #e2e0e0;
}
     /*************************************/
    /*     Featured in Section          */
  /*************************************/
.section-featured{
    padding: 4.8rem 0 3.2rem 0;
}
  .heading-featured-in{
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .75px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2.4rem;

}

.logos{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logos img{
    height: 3.2rem;
    filter: brightness(0);
    opacity: 50%;

}
      /*************************************/
    /*     How it works Section          */
  /*************************************/

.section_How{
  padding: 9.6rem 0;
  background-color: #fff
}


.section_How div div{
    font-size: 50px;
    /* background-color: rgba(51, 51, 51, 0.467); */
}
 
.step-img{
    width: 50%;
    z-index: 10;
}
.step-img-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.step-img-box::before,
.step-img-box::after{
    content: '';
    display: block;
    /* height: 60%; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}
.step-img-box::before{
    width:80%;
    padding-bottom: 80%;
    background-color: #fdf2e9;
    z-index: 1;
   
}
.step-img-box::after{
    width: 60%;
    padding-bottom: 60%;
    background-color: #fae5d3;
    z-index: 5;
}
/*  */
      /*****************************/
    /*   Breads Section          */
  /*****************************/

.section_Bread{
    padding: 9.6rem 0;
}
.bread{
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.25);
    border-radius: 2rem;
    overflow: hidden;
    transition: .2s ease-out;

}
.bread:hover{
    transform: translateY(2rem);
    transition: .2s ease-in;
}
.bread-content{
    padding:3.2rem 4.8rem;

}
.tag{
    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    color:#ffec99;
    border-radius: 2rem;
}
.tag--cheese{
    background-color: #f08c00;
}
.tag--choco{
    background-color: brown;
}
.bread-tags{
    margin-bottom: 1.2rem;
    display: flex;
    gap: 1.4rem;
}
.bread-title{
    font-size: 2rem;
    color: var(--dark-green);
    font-weight: 600;
    margin-bottom: 3.2rem;;

}
.bread-attributes{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem f;
}
.bread-attribute{
    font-size:  1.6rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}
.bread-icon{
    height: 2.4rem;
    width: 2.4rem;
    color: var(--light-green);
}
.bread-img{
    width: 100%;
}

.all-recipes{
    text-align: center;
    font-size: 1.8rem;
}
.all-recipes>a{
    text-decoration: none;
}
.list{
    list-style:none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.list-icon{
    width: 3rem;
    height: 3rem;
    color: var(--light-green);
}
.list-item{
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;

}

      /*****************************/
    /*   Testimonial Section          */
  /*****************************/


.section-testimonials{
    padding: 9.6rem 0;
    display: grid;
    grid-template-columns: 55fr 45fr;
    align-items: center;

}

.testimonials{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4.8rem;
    column-gap: 8rem;
    background-color: #a3ffab70;


}
.testimonial{
    padding: 2rem;
}
.testimonials-container{
    padding: 4.6rem;

}
.testimonial-img{
    width: 6.4rem;
    border-radius: 50%;
    border: .3rem solid rgba(255, 166, 0, 0.5);
    
}

.testimonial-text{
    font-size: 1.4rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;
    font-weight: 500;
}
.testimonial-name{
    font-size: 1.6rem;
    color: #777;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(3,5fr);
    gap: 1.6rem;
    justify-content: center;
    align-items: center;
}
.gallery-item{
    overflow: hidden;
}
.gallery-item img{
    display: block;
    width: 100%;
    background-color: var(--ultra-light-green);
    transition: .2s ease-in;
}
.gallery-item img:hover{
    transform: scale(1.1);
    transition: .2s ease-out;

}








































































































































