*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family:"Lato", sans-serif;
    line-height: 1;
    font-weight: 300;
    color: #555;
}

      /*****************************/
    /*     General Reusable Components    */
  /*****************************/
  .heading-primary{
    font-size: 5.2rem;
    /* text-transform: uppercase; */
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    line-height: 1.05;
    color: #dddddd;
    letter-spacing: -0.5px;
    margin-bottom: 3.2rem;
}  
.btn:link, .btn:visited{
    display: inline-block;
    background-color: #fff;
    color: #111111;
    padding: 1.6rem 3.2rem;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;

}
.btn-full:link,
.btn-full:visited{
    background-color: #222222;
    color: #fff;
    border: solid 1px #fff;
    transition:all 0.1s ease-in;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}
.btn-outline:link,
.btn-outline:visited{
    background-color: #fff;
    font-family: 'Rubik', sans-serif;
    border: solid 1px #222222;
    transition:all 0.1s ease-in;
}
.btn-full:hover,
.btn-full:active{
    background-color: #fff;
    color: #222222;
    transition: all 0.3s ease-in;
    /* letter-spacing: 1px; */
    /* font-size: 2.1rem; */
    /* padding: 1.4rem 3.0rem; */
}
.btn-outline:hover,
.btn-outline:active{
    background: #222222;
    color: #fff;
    border: 1px #fff solid;
    transition:all 0.3s ease-in;
    /* letter-spacing: 1px; */
    /* font-size: 2.1rem; */
    /* padding: 1.2rem 2.8rem; */
}
      /*****************************/
    /*          Header           */
  /*****************************/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9.8rem;
    padding: 0 4.8rem;
    background-color: #333333;

}
.logo{
    font-family: "Lato",sans-serif;
    float: left;
    font-size: 3.8rem;
}
.logo a{
    color: #cccccc;
    text-decoration: none;
}
      /*****************************/
    /*     Navigation            */
  /*****************************/
nav{
    color: #cccccc;
    float: right;
}
.main-nav-list{
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 3.2rem;
    color: #fff;
    font-size: 1.6rem;
    align-items: center;
    list-style: none;
    user-select: none;
}
.main-nav-list li > a:hover{
    color: #469DFF;
    transition: 0.3s;
}
.main-nav-list li a{
    text-decoration: none;
    color: #fff;
}
      /*****************************/
    /*     Hero Section          */
  /*****************************/
.section-hero{
    background-color: #191919;
    padding:4.8rem 0 9.6rem 0;
}
.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 130rem;
    margin: 0 auto;
    align-items: center;
    gap: 9.6rem;
    margin: 0 auto;
    padding:0 3.2rem;
}
.hero-img{
    width: 100%;
    padding: 20px;
    border-radius: 10rem 5rem;
    border: .5rem solid #fff;
    margin: 0 auto;   
}
.hero-description{
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
    color: #999999;
}
.customer1,
.customer2,
.customer3,
.customer4,
.customer5,
.customer6{
    width: 200px;
    height: 200px;
}
.delivered-boxes{
    display: flex;
    margin-top: 8rem;
    align-items: center;
    gap: 1.6rem;
}
.delivered-imgs{
    display: flex;
}
.delivered-imgs img{
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    border: 3px solid orange;
    margin-right: -1.6rem;
}
.delivered-imgs img:last-child{
    margin:0;
}
.delivered-text{
    font-size: 1.8rem;
    font-weight: 600;
    text-shadow: rgb(221, 221, 221);
    color: rgb(138, 138, 138);
}
.delivered-text span{
    color: #e2e0e0;
}
      /*************************************/
    /*     How it works Section          */
  /*************************************/

.section-how{
    padding: 9.6rem 0;
    background-color: wheat;
}
.section-how div{
    margin: 0 0 0 180px;
    padding-right: 2rem;
    font-size: 50px;
}
.section-how div div{
    background-color: #555;
    padding: 100px;
    font-size: 50px;
    color:white;
    justify-content: center;
}
/* .section-how div:nth-child(1){background-color: white;}
.section-how div:nth-child(2){background-color: red;}
.section-how div:nth-child(3){background-color: yellow;}
.section-how div:nth-child(4){background-color: aqua;} */

.grid{
    display: grid;
    gap: 9.6rem;
}

.container{
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}

.grid--2-cols{
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    justify-content: center;
}
.grid--3-cols{
    grid-template-columns: repeat(3,1fr);
}
.grid--4-cols{
    grid-template-columns: repeat(4,1fr);
}
.grid--center-v{
    align-items: center;
}


.section-how {
    padding: 9.6rem 0;
  }
  
  .  {
    font-size: 8.6rem;
    font-weight: 600;
    color: #ddd;
    margin-bottom: 1.2rem;
  }
  
  .step-description {
    font-size: 1.8rem;
    line-height: 1.8;
  }

  
  .step-img-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .step-img-box1,
  .step-img-box2,
  .step-img-box3{
    border-radius: 5%;
    box-shadow: rgba(2, 1, 1, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  .step-img-box::before,
  .step-img-box::after {
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .step-img-box::before {
    width: 60%;
    /* height: 60%; */
  
    /* 60% of parent's width */
    padding-bottom: 60%;
  
    background-color: #fdf2e9;
    z-index: -2;
  }
  
  .step-img-box::after {
    width: 45%;
    padding-bottom: 45%;
    background-color: #fae5d3;
    z-index: -1;
  }
  
  .step-img {
    width: 35%;
    /* z-index: 10; */
  }
  .step-text-box1,
  .step-text-box2,
  .step-text-box3{
    font-family: "Rubik", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
/* MEAL */
.section-meals{
    padding: 9.6rem 0;
}
.subheading {
  display: block;
  font-size: 2.4rem;
  font-weight: 700;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
  text-align: center;
  
}
.meal{
    box-shadow: 0 2.4rem 4.8rem rgba(0,0,0,0.075);
    border-radius: 11px;
    overflow: hidden;
    transition: all 0.4s;
}
.meals:hover{
    transform: translate(-1.2rem);
    box-shadow: 0 3.2rem 6.4rem rgba(0,0,0,0.06);
}
.meal-content{
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.meal-tags{
    margin-bottom: 1.2rem;
    display: flex;
    gap: 0.4rem;
}
.tag{
    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #333;
    border-radius: 100px;
    font-weight: 600;
}
.tag--vegetarian{
    background: #51cf66;
}
.tag--vegan{
    background-color: #94d82d;
}
.tag--paleo{
    background-color: #ffd43b;
}
  .meal-title{
      font-size: 2.4rem;
      color: #333;
      font-weight: 600;
      margin-bottom: 3.2rem;
  }
.meal-attributes {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .meal-attribute {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }
  .meal-icon {
    height: 2.4rem;
    width: 2.4rem;
    color: #e67e22;
  }
  .meal-img {
    width: 100%;
  }
  .all-recipes {
    text-align: center;
    font-size: 1.8rem;
  }

/*diets*/
.diets{
  border-radius: 5%;
}
.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
  justify-content: center;
  text-align: center;
}
h2.heading-seondary {
  text-align: center;
  margin: 0 0 7rem 0rem;
}
.heading-tertiary {
  font-weight: 700;
  color: #333;
  /* color: #45260a; */
  /* color: #343a40; */
  letter-spacing: -0.5px;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

}


.list-items  {
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}


.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.meal-img {
  width: 100%;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

.heading-tertiary{
  font-size: 2.8rem;
  padding-bottom: 1rem;
}
.diets{
  border:1px solid #555;
}
.diets h3{
  font-size: 2.8rem;
  text-align: center;
  margin-top: 1rem;
}
.diets ul{
  margin-left: 5rem;
  margin-top: 1rem;
}
.diets ul li{
  margin-left: 2rem;
  padding-left: 2 rem;
  margin-top: 1rem;
  font-size: 2rem;
}

