*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family:"Lato", sans-serif;
    line-height: 1;
    font-weight: 300;
    color: #555;
}

      /*****************************/
    /*     General Reusable Components    */
  /*****************************/
  :root {
    --dark-green: #2d452f;
    --slight-dark-green: #4c6a4b;
    --light-green:#6B9D4A;
    --ultra-light-green: #cfe2ce;

}
  .heading-primary{
    font-size: 5.2rem;
    /* text-transform: uppercase; */
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    line-height: 1.05;
    color: #dddddd;
    letter-spacing: -0.5px;
    margin-bottom: 3.2rem;
}  
.heading-secondary{
    font-size: 5rem;
    text-align: center;
    color: var(--light-green);
}
.heading-tertiary{
    font-size: 3rem;
    margin-bottom: 3rem;
    color: var(--light-green);

}
.btn:link, .btn:visited{
    display: inline-block;
    background-color: #fff;
    color: #111111;
    padding: 1.6rem 3.2rem;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;

}
.btn-full:link,
.btn-full:visited{
    background-color: #222222;
    color: #fff;
    border: solid 1px #fff;
    transition:all 0.1s ease-in;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}
.btn-outline:link,
.btn-outline:visited{
    background-color: #fff;
    font-family: 'Rubik', sans-serif;
    border: solid 1px #222222;
    transition:all 0.1s ease-in;
}
.btn-full:hover,
.btn-full:active{
    background-color: #fff;
    color: #222222;
    transition: all 0.3s ease-in;
    /* letter-spacing: 1px; */
    /* font-size: 2.1rem; */
    /* padding: 1.4rem 3.0rem; */
}
.btn-outline:hover,
.btn-outline:active{
    background: #222222;
    color: #fff;
    border: 1px #fff solid;
    transition:all 0.3s ease-in;
    /* letter-spacing: 1px; */
    /* font-size: 2.1rem; */
    /* padding: 1.2rem 2.8rem; */
}

.step-number{
    color: var(--ultra-light-green);
    font-size: 5rem;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    text-align: left;
    width: 100%;
}
.step-description{
    font-size: 2rem;
    text-align: justify;
    color: var(--slight-dark-green);
}

.flex-center-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-column{
    flex-direction: column;
}
.container{
    /* 1140px */
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}

.grid{
    display: grid;
    gap: 9.6rem;

}
.grid--2-cols{
    grid-template-columns: repeat(2,1fr);
}
.grid--3-cols{
    grid-template-columns: repeat(3,1fr);
}
.grid--4-cols{
    grid-template-columns: repeat(4,1fr);
}
.section_How {
    background-color: #469DFF;
}
.subheading{
    text-align: center;
    width: 100%;
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
}
      /*****************************/
    /*          Header           */
  /*****************************/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9.8rem;
    padding: 0 4.8rem;
    background-color: #333333;

}
.logo{
  width: 150px;
}
.logo a{
    color: #cccccc;
    text-decoration: none;
}
      /*****************************/
    /*     Navigation            */
  /*****************************/
nav{
    color: #cccccc;
    float: right;
}
.main-nav-list{
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 3.2rem;
    color: #fff;
    font-size: 1.6rem;
    align-items: center;
    list-style: none;
    user-select: none;
}
.main-nav-list li > a:hover{
    color: #469DFF;
    transition: 0.3s;
}
.main-nav-list li a{
    text-decoration: none;
    color: #fff;
}
      /*****************************/
    /*     Hero Section          */
  /*****************************/
.section-hero{
    background-color: #191919;
    padding:4.8rem 0 4.8rem 0;
}
.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 130rem;
    margin: 0 auto;
    align-items: center;
    gap: 9.6rem;
    margin: 0 auto;
    padding:0 3.2rem;
}
.hero-img{
    width: 90%;
    padding: 20px;
    border-radius: 10rem 5rem;
    border: .5rem solid #fff;
    margin: 0 auto;   
}
.hero-description{
    font-size:1.5rem;
    line-height: 1.2px;
    margin-bottom: 4.8rem;
    color: #999999;
}
.customer1,
.customer2,
.customer3,
.customer4,
.customer5,
.customer6{
    width: 200px;
    height: 200px;
}
.delivered-boxes{
    display: flex;
    margin-top: 8rem;
    align-items: center;
    gap: 1.6rem;
}
.delivered-imgs{
    display: flex;
}
.delivered-imgs img{
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    border: 3px solid orange;
    margin-right: -1.6rem;
}
.delivered-imgs img:last-child{
    margin:0;
}
.delivered-text{
    font-size: 1.8rem;
    font-weight: 600;
    text-shadow: rgb(221, 221, 221);
    color: rgb(138, 138, 138);
}
.delivered-text span{
    color: #e2e0e0;
}
      /*************************************/
    /*     How it works Section          */
  /*************************************/

.section_How{
  padding: 9.6rem 0;
  background-color: #fff
}


.section_How div div{
    padding: 100px;
    font-size: 50px;
    /* background-color: rgba(51, 51, 51, 0.467); */
    margin-bottom: 3rem;
}
 
.step-img{
    width: 60%;
}

