*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family:"Lato", sans-serif;
    line-height: 1;
    font-weight: 300;
    color: #555;
}

      /*****************************/
    /*     General Reusable Components    */
  /*****************************/
  .heading-primary{
    font-size: 5.2rem;
    /* text-transform: uppercase; */
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    line-height: 1.05;
    color: #dddddd;
    letter-spacing: -0.5px;
    margin-bottom: 3.2rem;
}  
.btn:link, .btn:visited{
    display: inline-block;
    background-color: #fff;
    color: #111111;
    padding: 1.6rem 3.2rem;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;

}
.btn-full:link,
.btn-full:visited{
    background-color: #222222;
    color: #fff;
    border: solid 1px #fff;
    transition:all 0.1s ease-in;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}
.btn-outline:link,
.btn-outline:visited{
    background-color: #fff;
    font-family: 'Rubik', sans-serif;
    border: solid 1px #222222;
    transition:all 0.1s ease-in;
}
.btn-full:hover,
.btn-full:active{
    background-color: #fff;
    color: #222222;
    transition: all 0.3s ease-in;
    /* letter-spacing: 1px; */
    /* font-size: 2.1rem; */
    /* padding: 1.4rem 3.0rem; */
}
.btn-outline:hover,
.btn-outline:active{
    background: #222222;
    color: #fff;
    border: 1px #fff solid;
    transition:all 0.3s ease-in;
    /* letter-spacing: 1px; */
    /* font-size: 2.1rem; */
    /* padding: 1.2rem 2.8rem; */
}
      /*****************************/
    /*          Header           */
  /*****************************/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9.8rem;
    padding: 0 4.8rem;
    background-color: #333333;

}
.logo{
  width: 170px;
}
.logo a{
    color: #cccccc;
    text-decoration: none;
}
      /*****************************/
    /*     Navigation            */
  /*****************************/
nav{
    color: #cccccc;
    float: right;
}
.main-nav-list{
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 3.2rem;
    color: #fff;
    font-size: 1.6rem;
    align-items: center;
    list-style: none;
    user-select: none;
}
.main-nav-list li > a:hover{
    color: #469DFF;
    transition: 0.3s;
}
.main-nav-list li a{
    text-decoration: none;
    color: #fff;
}
      /*****************************/
    /*     Hero Section          */
  /*****************************/
.section-hero{
    background-color: #191919;
    padding:4.8rem 0 9.6rem 0;
}
.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 130rem;
    margin: 0 auto;
    align-items: center;
    gap: 9.6rem;
    margin: 0 auto;
    padding:0 3.2rem;
}
.hero-img{
    width: 100%;
    padding: 20px;
    border-radius: 10rem 5rem;
    border: .5rem solid #fff;
    margin: 0 auto;   
}
.hero-description{
    font-size:1.5rem;
    line-height: 1.2px;
    margin-bottom: 4.8rem;
    color: #999999;
}
.customer1,
.customer2,
.customer3,
.customer4,
.customer5,
.customer6{
    width: 200px;
    height: 200px;
}
.delivered-boxes{
    display: flex;
    margin-top: 8rem;
    align-items: center;
    gap: 1.6rem;
}
.delivered-imgs{
    display: flex;
}
.delivered-imgs img{
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    border: 3px solid orange;
    margin-right: -1.6rem;
}
.delivered-imgs img:last-child{
    margin:0;
}
.delivered-text{
    font-size: 1.8rem;
    font-weight: 600;
    text-shadow: rgb(221, 221, 221);
    color: rgb(138, 138, 138);
}
.delivered-text span{
    color: #e2e0e0;
}
      /*************************************/
    /*     How it works Section          */
  /*************************************/

.section_How{
  padding: 9.6rem 0;
  background-color: rgb(255, 255, 255);
}

.grid{
    display: grid;
    gap: 9.6rem;
    grid-template-columns: repeat(2,1fr);

}

.section_How div{
    background-color: #555;
    padding: 100px;
}
.section_How div:nth-child(1){
    background-color: lightblue;
}

.section_How div:nth-child(2){
    background-color: red;
}

.section_How div:nth-child(3){
    background-color: indigo;
}

.section_How div:nth-child(4){
    background-color: yellow;
}

